<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>com.artigile.howismyphonedoing.server.config.AnnotationConfigMyPhoneWebApplicationContext
        </param-value>
    </context-param>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>remoteService</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>com.artigile.howismyphonedoing.server.config.RpcConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>cometServlet</servlet-name>
        <servlet-class>com.artigile.howismyphonedoing.server.servlet.InstantMessagingServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>remoteService</servlet-name>
        <url-pattern>/remoteService/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>cometServlet</servlet-name>
        <url-pattern>/cometServlet/*</url-pattern>
    </servlet-mapping>


    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>WebApp.html</welcome-file>
    </welcome-file-list>

</web-app>
